# Node.js
node_modules/
# logs/
.env
dist/
*.log

# Logs
logs/

# IDEs
.vscode/
.idea/

# Other
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

src/cryptoParser/tools/calculateProfit.js